* {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background: #eee;
}
body{
    min-width: 1260px;
}
h1, h2, h3, h4, h5, h6, p, ol, ul, pre {
    margin-top: 0;
    margin-bottom: 1.0em;
}
ul, ol, dl {
    list-style: none;
}
a {
    color: #221919;
    text-decoration: none;
    outline: 0;
}
.clearfix{
    overflow: hidden;
    zoom: 1;
}
.padding-top-60{
    padding-top: 60px;
}

.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
    z-index: 111;
}
.header .logo{
    width: 30px;
    height: 30px;
    float: left;
    cursor: pointer;
}
.header .logo img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.header .title{
    float: left;
    padding: 5px 8px;
    line-height: 16px;
    cursor: pointer;
}
.header .title a{
    color: #fff;
}
.container{
    width: 1260px;
    margin: 0 auto;
}